body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 0;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-container {
    margin-bottom: 2rem;
}


.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

input {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box; 
}

#publication-date, #filter-publication-date {
    width: 8rem; 
}
button {
    padding: 0.75rem 1.5rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    max-width: 15rem; 
    margin-top: 0.5rem; 
}

button:hover {
    background-color: #218838;
}

/* Center the publication date input */
.publication-date-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

/* Center the CSV export button */
.export-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}
